/* src/components/cards/CardList/CardList.css */

/* Kartīšu saraksta konteiners */
.card-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Šī īpašība nodrošina, ka kartīšu grupa ir centrēta */
  padding: 20px;
  background-color: transparent;
  border-radius: 8px;
  min-height: 100px;
  transition: background-color 0.2s ease;
  max-width: var(--content-max-width);
  margin: 0 auto;
}

/* Ziņojums, ja nav nevienas kartītes */
.no-cards-message {
  text-align: center;
  color: var(--grey-500);
  width: 100%;
  margin:0;
}


/* Responsīvais dizains mobilajām ierīcēm */
@media (max-width: 768px) {
  .card-list-container {
    display: flex;
    width: 100%; 
    max-width: 768px; 
    height: auto;
    margin:0 auto;
    padding: 0;

  }
}